* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url('xp_bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  /* border: 1px solid pink; */
  height: 100vh;
}
.avatar{
  border-radius: 2px;
  border: 1px solid white;
  box-shadow: 1px 1px #336FB7;
  margin: 4px;
  height: 35px;
  width: 35px;
  user-select: none;
}
.blueSpacer{
  background: linear-gradient(#2057D4,#235CDB,#295FD7);
  border-top: 1.5px solid #4695E5;
  border-bottom: 1px solid #1E4CBF;
  border-right: 1px solid #0C3D8C;
  flex: 1;
}
.bottomBar{
  position: absolute;
  width: 100vw;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.divider{
  border-top: 1px solid #9DC4FA;
  border-bottom: 1px solid #E5EAF0;
  width: 80%;
}
.dividerContainer{
  display: flex;
  justify-content: center;
}
.endBox{
  background: linear-gradient(#1097E9, #108DE7, #1097E9);
  border-top: 1.5px solid #21ADF5;
  border-left: 1px solid #29BFF1;
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}
.leftStartMenu{
  width: 100%;
  height: 100%;
}
.rightStartMenu{
  background: #D3E5FA;
  height: 100%;
  width: 100%;
}
.startButton{
  background: radial-gradient( #82BE8E,#45A449 , #307732);
  border-top: 2px solid #82BE8E;
  padding-left: 8px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -2px;
  margin-bottom: -1px;
}
.startContainer{
  background: linear-gradient(#2057D4,#235CDB,#295FD7);
  border-top: 2px solid #4695E5;
  border-bottom: 1px solid #1E4CBF;
}
.startLogo{
  height: 15px;
  width: 15px;
  margin-right: 3px;
  user-select: none;
  /* margin-top: 1px; */
}
.startMenu{
  border-left: 1.5px solid #6086D4;
  border-right: 2px solid #1C5AC5;
  position: absolute;
  bottom: 0px;
  width: 325px;
  height: 420px;
  display: none;
  flex-direction: column;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: white;
}
.startMenuContainer{
  border-top: 1px solid #FF891B;
  border-bottom: 1px solid #226ED2;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.startMenuIcon{
  height: 25px;
  width: 25px;
}
.startMenuItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 7px;
}
.startMenuText{
  color: #0A246A;
  text-shadow: 0.1px 0.1px #3C548E;
  margin-left: 3px;
  letter-spacing: 0.1px;
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.startText{
  color: white;
  text-shadow: 1px 1px #447B34;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}
.timeText{
  color: white;
  font-size: 8px;
  font-weight: 100;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}
.topBar{
  background: linear-gradient(#1565CD, #4792EC);
  border-bottom: 2px solid #3C88E5;
  border-top: 2px solid #69A4E7;
  border-left: 1px solid #69A4E7;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.usernameText{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  font-weight: 600;
  margin-left: 2px;
  text-shadow: 1px 1px #336FB7;
  user-select: none;
}