* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url('xp_bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  /* border: 1px solid pink; */
  height: 100vh;
}
.avatar{
  border-radius: 3px;
  border: 1px solid white;
  box-shadow: 1px 1px #336FB7;
  margin: 4px;
  height: 50px;
  width: 50px;
  user-select: none;
}
.blueSpacer{
  /* background: linear-gradient(#2057D4,#235CDB,#295FD7); */
  background: linear-gradient(#235CD9,#245DDB,#2664DA);
  border-top: 3px solid #4490e79c;
  border-bottom: 1px solid #2855C1;
  border-right: 1px solid #0C3D8C;
  flex: 1;
}
.bottomBar{
  position: absolute;
  width: 100vw;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.desktopIcon{
  height: 40px;
  width: 40px;
}
.desktopIconContainer{
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desktopIconText{
  color: white;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.divider{
  border-top: 1px solid #9DC4FA;
  border-bottom: 1px solid #E5EAF0;
  width: 80%;
}
.dividerContainer{
  display: flex;
  justify-content: center;
}
.endBox{
  background: linear-gradient(#1097E9, #108DE7, #1097E9);
  border-top: 1.5px solid #21ADF5;
  border-left: 1px solid #29BFF1;
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}
.leftStartMenu{
  width: 100%;
  height: 100%;
}
.orangeDivider{
  background: linear-gradient(to left, white, #FF8C20, white);
  height: 2;
}
.rightStartMenu{
  background: #D3E5FA;
  height: 100%;
  width: 100%;
}
.startButton{
  background: radial-gradient( #49AD49,#379238 , #297929);
  border-top: 2px solid #8bbe8db4;
  padding-left: 8px;
  padding-right: 15px;
  padding-top: 2px;
  padding-bottom: 4px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -2px;
  margin-bottom: -1px;
}
.startContainer{
  background: linear-gradient(#2057D4,#235CDB,#295FD7);
  border-top: 2px solid #4695E5;
  border-bottom: 1px solid #1E4CBF;
}
.startLogo{
  height: 20px;
  width: 20px;
  margin-right: 3px;
  margin-bottom: 2px;
  user-select: none;
  /* margin-top: 1px; */
}
.startMenu{
  border-left: 1.5px solid #6086D4;
  border-right: 2px solid #1C5AC5;
  position: absolute;
  bottom: 0px;
  width: 325px;
  height: 525px;
  display: none;
  flex-direction: column;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.4);
  background: white;
}
.startMenuContainer{
  border-bottom: 1px solid #226ED2;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.startMenuIcon{
  height: 25px;
  width: 25px;
}
.startMenuItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 7px;
}
.startMenuText{
  color: #0A246A;
  text-shadow: 0.1px 0.1px #3C548E;
  margin-left: 3px;
  letter-spacing: 0.1px;
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.startText{
  color: #F0F4EE;
  text-shadow: 1.25px 1.25px #447B34;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-right: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}
.timeText{
  color: #F4FAFE;
  font-size: 10px;
  letter-spacing: 0.25px;
  font-weight: 100;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}
.topBar{
  background: linear-gradient(#0F60CB, #4792EC);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom: 2px solid #1D7FDA;
  border-top: 2px solid #72AAE8;
  border-left: 1px solid #6888D5;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.usernameText{
  color: #FEFEFE;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  letter-spacing: 0.2px;
  margin-left: 2px;
  text-shadow: 1.25px 1.25px #1255AC;
  user-select: none;
}